body{
    background-color: black;
}
.heading{
    color: aliceblue;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
    width:800px;
    margin:20px 0px 0px 30px;
}
.heading h1{
    margin:20px 0px 0px 30px;
}
.heading h5{
    margin-top: 0px;
    text-align: left;
}
.heading h5:hover{
    margin-top: 0px;
    text-align: left;

}
.box{
    background-color: transparent;
    display:flex;
    justify-content: left;
}
.photo-box{
    background-color: transparent;
    width: 700px;
    height: 300px;
    text-align: left;
    display: flex;
}
.photo-box p{
    font-weight: 1000;
    font-size: xx-large;
    width:500px;
    margin: 80px 0px 0px 25px;
    color: rgb(103, 103, 214);
}

.main{ 
    height:100vh;
    background:url("/handsome3.png");
    background-size:cover;
}
.worldcup{
    height:100vh;
    width:100%;
}

.slideshow-container {
    display: flex;
    max-width: 500px;
    position: relative;
    margin: 200px 0px 200px 300px;
    height: 100vh;
    justify-content: left;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 30%;
    height: 100vh;
    text-align: left;
    box-shadow: 0px 5px 60px white; 
}
.mySlides img:hover {
    box-shadow: 0px 5px 120px white; 
}
@keyframes fade {
    0% { opacity: 0; }
    10% { opacity: 1; }
    20% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
    
}
.slideshow{
    display:flex;
    flex-direction: row;
}
.quality{
    margin:300px 100px 0px 100px;
    width:300px;
    background-color: transparent;
}
.quality p{
    color:aliceblue;
    width:300px
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3.5s;
    animation-name: fade;
    animation-duration: 3.5s;
}
.awards1{
    display: flex;
    margin: 0px 100px 0px 300px;
    width: 500px;
    height:700px;
    align-items: center;
    
}
.a1{
    width: 500px;
    box-shadow: 0px 5px 60px white; 
}
.qualityp p{
    margin:0px 100px 0px 100px;
    width:300px;
    background-color: transparent;
    color:aliceblue;
    padding:10px;
   
}
footer{
    color:aliceblue;
}